   body {
    background: #5B5B5B;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 35%;
    width: 350px;
}

.box {
    float: left;
    height: 300px;
    width: 500px;
    padding: 0 20px 20px 20px;
    text-align: left;
    border: 1px solid #DDD;
    background: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    -moz-box-shadow: 0 0 5px 5px #333333;
    -webkit-box-shadow: 0 0 5px 5px #333333;
    box-shadow: 0 0 5px 5px #333333;
}

.msg {
    font-family: 'Open Sans Condensed', Times, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #777777;
    line-height: 30px;
    text-align: left;
}

.msg .username {
    color:#000;
}

.cashback {
    font-family: 'Open Sans Condensed', Times, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #84E028;
    line-height: 30px;
    text-align: left;
}

.store-name {
    line-height: 30px;
    font-family: 'Open Sans Condensed', Times, "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #62AAF7;
    text-align: left;
}

.logo {
    position: absolute;
    float: right;
    top: 105px;
    right: 15px;
    border: 5px solid #EEEEEE;
}
@media (max-width:640px) {  
.container{left:0%; width:100%;}
.box{height:auto; width:auto} 
}