*{margin:0px;padding:0px;}
body{background:#FFF;height:100%;width:100%;font-weight:normal;margin:0px;padding:0px;font-size:14px;font-family:'Montserrat';}
.active-header{position:fixed;top:0;width:100%;z-index:99999;}
.top-brand-img{padding-bottom:17px;}
#testimonial_carousel{padding-top:12px;}
.flexslider{border:none;}
body .store-dropdown{background:#fff !important;padding:20px 0px;}
.pb20{padding-bottom:20px;}
.fb-sign{background-color:#fff;color:#3b5998;border:1px solid #3b5998;}
#wrap{position:relative;width:100%;overflow:hidden;background:#fff;}
h1{font-size:30px;}
h2{font-size:28px;}
h3{font-size:24px;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}
p{color:#777777;font-size:14px;line-height:22px;font-family:'Lato', sans-serif;}
a{-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;text-decoration:none !important;}
img{-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;display:inline-block !important;}
li{list-style:none;}
a{text-decoration:none;color:#000;}
section{position:relative;overflow:hidden;width:100%;}
.btn{background:#e74f1d;text-transform:uppercase;color:#fff;border-radius:0px;display:inline-block;padding:6px 25px;margin:0 auto;margin-top:15px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
body .badge{background-color:#1ab6ca;}
.clickbtn{background:#e74f1d;text-transform:uppercase;color:#fff;border-radius:0px;display:inline-block;padding:6px 25px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.btn-small{padding:5px 30px;font-size:14px;}
.btn-med{padding:10px 40px;font-size:16px;}
.btn-large{padding:14px 50px;font-size:16px;}
.btn:hover{background:#1ab6ca;color:#ffffff;}
.btn-border{background:none;border:1px solid #002b5e;color:#002b5e;}
.btn-border:hover{background:#002b5e;color:#fff;}
.margin-r-20{margin-right:20px;}
.margin-l-20{margin-left:20px;}
.margin-t-20{margin-top:20px;}
.margin-b-20{margin-bottom:20px;}
.margin-r-40{margin-right:40px;}
.margin-l-40{margin-left:40px;}
.margin-t-40{margin-top:40px;}
.margin-b-40{margin-bottom:40px;}
.margin-r-80{margin-right:80px;}
.margin-l-80{margin-left:80px;}
.margin-t-80{margin-top:80px;}
.margin-b-80{margin-bottom:80px;}
.padding-r-20{padding-right:20px !important;}
.padding-l-20{padding-left:20px;}
.padding-t-20{padding-top:20px;}
.padding-b-20{padding-bottom:20px;}
.no-margin{margin:0px !important;}
.no-padding{padding:0px !important;}
.no-margin-t{margin-top:0px !important;}
.no-padding-t{padding-top:0px !important;}
.tittle{text-align:center;display:inline-block;width:100%;position:relative;margin-bottom:15px;}
.tittle h3{margin:0px;text-transform:uppercase;}
.top-bar{background:#ffffff;border-bottom:1px solid #eaebef;height:41px;position:relative;overflow:hidden;}
.top-bar ul{}
.top-bar ul li{display:inline-block;}
.top-bar ul li a{color:#222222;display:inline-block;padding:0 10px;border-left:1px solid #dddddd;line-height:40px;}
.top-bar .left-bar-side{float:left;}
.top-bar li:nth-last-child(1) a{border-right:1px solid #dddddd}
.top-bar .right-bar-side{float:right;}
.top-bar i{margin:0 4px;}
header{background:#fff;position:relative;width:100%;z-index:999;line-height:0px;}
header .navbar-default{}
header .logo{float:left;margin:40px 0;}
header .search{float:right;width:380px;border:1px solid #e9eaee;margin-top:45px;position:relative;}
header .search select{width:40%;float:left;}
header .search input{border-left:1px solid #e9eaee !important;border-radius:0px;}
header .search .form-control{border:none;border-radius:0px;box-shadow:none;height:42px;font-size:12px;}
header .search button{border:none;color:#002b5e;background:none;float:right;right:10px;top:10px;font-size:16px;position:absolute;}
header nav{background:#002b5e;min-height:46px;display:inline-block;width:100%;position:relative;z-index:999;}
header nav li a{line-height:46px;text-transform:uppercase;color:#fff;float:left;font-size:13px;padding:0 20px;}
header nav li.active a{background:#ffdd00;color:#222222;}
header nav li a:hover{background:#ffdd00;color:#222222;}
header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background:#ffdd00;color:#222222;}
header .ownmenu ul.dropdown li a{text-transform:uppercase;font-size:13px;color:#222222;border-bottom:1px dashed #666666;line-height:38px;padding:0px;background:none;}
header .ownmenu ul.dropdown li a:hover{background:none;color:#ffdd00;}
header .ownmenu ul.dropdown li:nth-last-child(1) a{}
.ownmenu > li:hover > a, .ownmenu > li.active > a{background:#ffdd00;color:#222222;}
.sub-nav-co{float:right;position:relative;right:0px;width:170px;margin-top:-46px;height:45px;}
.sub-nav-co a:before{content:'';width:0px;height:0px;border-style:solid;display:inline-block;vertical-align:middle;margin-right:5px;width:0;height:0;border-style:solid;border-width:23px 19px 23px 0;border-color:transparent #ffdd00 transparent transparent;position:absolute;left:-19px;}
.sub-nav-co a{background:#ffdd00;position:absolute;left:0px;top:0px;display:inline-block;width:100%;height:46px;line-height:46px;text-align:center;color:#222222;text-transform:uppercase;font-size:16px;}
.nav-post .boder-da-r{border-right:1px dashed #cccccc;}
.nav-post li{padding:10px 0 !important;margin:0px;border-bottom:1px dashed #cccccc;display:inline-block;width:100%;}
.nav-post .img-nav{height:75px;width:75px;float:left;}
.nav-post .nav-text{float:right;width:73%;}
.nav-post .nav-text a{background:none;font-size:13px !important;color:#222222 !important;line-height:20px;}
.nav-post .nav-text span{width:100%;display:inline-block;margin-top:10px;}
.nav-post .nav-big a{background:none;font-size:15px !important;color:#222222 !important;line-height:20px;padding:0px !important;}
.nav-post .nav-big img{width:100%;margin:20px 0;}
.nav-post li a{padding:0px;margin:0px;}
#banner{height:615px;position:relative;overflow:hidden;margin-top:-5px;z-index:99;background:#fff;background-size:cover;}
#banner .flexslider img{width:100%;}
#banner .flexslider{max-height:615px;}
.banner-up{position:absolute;width:100%;top:10%;z-index:99;display:inline-block;}
.banner-up .container{position:relative;}
.slide-products{width:550px;float:right;position:relative;background:#002b5e;z-index:99;}
.slide-products h1{color:#fff;margin-bottom:30px;margin-top:0px;line-height:38px;}
.slide-products p{color:#fff;}
.text-slide{position:absolute;height:310px;overflow:hidden;padding:25px;width:100%;background:#002b5e;}
.slider-price{font-size:42px;color:#fff;display:inline-block;width:100%;font-family:'Montserrat';font-weight:bold;position:absolute;bottom:20px;}
.img-slide{padding:25px;background:#fff;}
#banner .owl-buttons div{background:#002b5e;position:absolute;left:-55px;height:50px;width:50px;margin-top:-100px;line-height:50px;border-radius:0px;opacity:1;padding:0px;font-size:24px;border:none;}
#banner .owl-buttons .owl-next{margin-top:-50px;}
.slide-products-txt{outline:10px solid rgba(0,43,94,0.85);background:rgba(0,43,94,0.85);border:1px dashed #fff;padding:30px;text-align:center;display:inline-block;}
.slide-products-txt h1{margin:0px;font-size:35px;font-weight:bold;margin-bottom:20px;}
.slide-products-txt h3{margin:0px;color:#fff;}
.great-deals{padding:50px 0;padding-top:0px;background:#f3f3f3;}
.great-deals .coupon{}
.great-deals .coupon li{margin-bottom:30px;position:relative;}
.great-deals .coupon-inner{padding:30px 0;padding-bottom:0px;border:1px solid #e9e9e9;position:relative;float:left;width:100%;display:inline-block;overflow:hidden;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.great-deals .coupon-inner:hover{border-color:#1ab6ca;}
.great-deals .coupon-inner .top-tag{display:inline-block;width:100%;}
.great-deals .coupon-inner .ribn-red{width:115px;float:left;display:inline-block;text-transform:uppercase;text-align:center;color:#fff;font-size:12px;background:url(../images/ribn-red.png) right no-repeat;padding-right:15px;}
.great-deals .coupon-inner .ribn-red span{background:#f01b3b;line-height:24px;display:inline-block;width:100%;}
.great-deals .coupon-inner .ribn-pur{width:115px;float:left;display:inline-block;text-transform:uppercase;text-align:center;color:#fff;font-size:12px;background:url(../images/ribn-purple.png) right no-repeat;padding-right:15px;}
.great-deals .coupon-inner .ribn-pur span{background:#9900b5;line-height:24px;display:inline-block;width:100%;font-size:10px;}
.great-deals .coupon-inner .star{float:right;margin-top:-5px;font-size:26px;color:#ef203f;margin-right:25px;}
.great-deals .coupon-inner .top-tag{display:inline-block;width:100%;position:relative;}
.great-deals .coupon-inner .c-img{display:inline-block;width:100%;padding:0 25px;margin-top:10px;}
.great-deals .coupon-inner .head{font-size:18px;color:#222222;text-align:center;line-height:26px;margin-top:25px;display:inline-block;width:100%;margin-bottom:10px;}
.mt10{margin-top:10px;}
.cashback-users-section.site-box h2{text-shadow:none;font-family:'Montserrat';background:#1ab6ca;color:#fff;font-size:16px;font-weight:400;padding:14px 10px;}
.cashback-users-section .site-box-content{padding:11px 10px 11px;}
.site-box-content{background:#ffffff none repeat scroll 0 0;box-shadow:0 0 7px #cacaca;clear:both;margin-bottom:2px !important;overflow:hidden;padding:10px 10px 5px;}
.great-deals .coupon-inner .btn{background:#e74f1d;text-transform:uppercase;color:#fff;border-radius:0px;display:inline-block;padding:6px 25px;margin:0 auto;margin-top:15px;}
.great-deals .coupon-inner .btn:hover{background:#1ab6ca;color:#002b5e;}
ul#couponlist li:nth-child(4){clear:both;}
.btm-info{display:inline-block;width:100%;background:#f7f7f7;height:50px;margin-top:35px;position:relative;overflow:hidden;margin-bottom:-5px;}
.btm-info li{padding:0px;line-height:18px;text-transform:uppercase;text-align:center;color:#777777;font-size:11px;border-left:1px solid #e5e5e5;padding-bottom:5px;}
.btm-info li i{display:inline-block;width:100%;font-size:14px;margin-top:10px;}
.great-deals .btm-info li:nth-child(1){text-transform:none;color:#222222;font-size:14px;line-height:50px;border:none;}
.great-deals .btm-info li:nth-child(1) i{width:auto;color:#002b5e;}
.featured{padding:50px 0;padding-top:0px;}
.featured .fea-cate{}
.featured .cate{position:relative;overflow:hidden;}
.featured .cate-in{}
.featured .fea-cate:before{height:100%;width:30px;position:absolute;display:inline-block;content:"";background:#fff;margin-top:0px;left:-30px;z-index:9;position:absolute;}
.featured .cate img{position:relative;width:100%;}
.featured .cate-over{position:absolute;background:rgba(0,0,0,0.75);height:100%;width:100%;top:0px;z-index:1;text-align:center;left:0px;}
.featured .cate-tittle{background:#002b5e;display:inline-block;width:100%;height:53px;z-index:99;position:relative;text-transform:uppercase;color:#fff;font-size:18px;text-align:center;line-height:53px;}
.featured .cate-over i{color:#fff;text-align:center;font-size:50px;margin-top:45%;}
.featured .cate:hover i{opacity:0;}
.featured .cate-over .after-over{position:absolute;z-index:999;width:100%;top:30%;display:none;}
.featured .cate-over .after-over p{text-transform:uppercase;font-size:16px;color:#fff;font-family:'Montserrat';}
.featured .cate-over .after-over a{color:#fff;text-transform:uppercase;font-size:16px;border:1px solid #fff;padding:10px 20px;margin-top:10px;display:inline-block;}
.featured .cate-over .after-over a:hover{background:#fff;color:#002b5e;}
.featured .cate:hover .after-over{display:block;}
.featured .owl-buttons{}
.featured .owl-theme .owl-controls{position:absolute;top:30%;width:100%;left:0px;}
.featured .owl-theme .owl-controls .owl-next{position:absolute;float:right;right:0px;top:0px;display:block !important;background:none;position:absolute;top:0px;background:rgba(0,43,94,0.5);border-radius:0px;height:72px;width:47px;line-height:72px;font-size:30px;margin:0px;opacity:1;padding:0px;color:#fff !important;}
.featured .owl-theme .owl-controls .owl-prev{float:left;left:0px;position:relative;z-index:99;display:block !important;background:none;position:absolute;top:0px;background:rgba(0,43,94,0.5);border-radius:0px;height:72px;width:47px;line-height:72px;font-size:30px;margin:0px;opacity:1;padding:0px;color:#fff !important;}
.featured .owl-theme .owl-controls .owl-prev:hover{background:rgba(0,43,94,1);}
.featured .owl-theme .owl-controls .owl-next:hover{background:rgba(0,43,94,1);}
.featured .owl-theme .owl-controls .owl-buttons div{background:none;position:absolute;top:0px;background:rgba(0,43,94,0.5);border-radius:0px;height:72px;width:47px;line-height:72px;font-size:30px;margin:0px;opacity:1;padding:0px;}
.featured .item{margin-left:20px;margin-right:20px;}
.by-cate{padding:80px 0;}
.by-cate .cate-over{background:rgba(0,0,0,0.5);}
.by-cate .cate-over i{font-size:60px;margin-top:50%;}
.by-cate .cate-over .after-over{top:35%;}
.by-cate li{margin-bottom:30px;}
.blog{padding:50px 0;}
.blog .b-details{padding:20px;background:#f8f8f8;}
.blog .b-details h6 a{font-size:15px;color:#222222;text-transform:uppercase;font-weight:bold;}
.blog .b-details h6 a:hover{color:#002b5e}
.blog .tag-info li span{margin:0 5px;}
.blog .tag-info{display:inline-block;width:100%;margin-bottom:10px;}
.blog .tag-info li{display:inline-block;font-size:11px;color:#777777;}
.blog .tag-info li i{margin-right:5px;}
.blog .b-img{position:relative;overflow:hidden;}
.blog .b-over{position:absolute;top:0px;height:100%;width:100%;background:rgba(0,0,0,0.75);text-align:center;opacity:0;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.blog .b-over a{border:1px solid #fff;height:45px;width:45px;border-radius:50%;display:inline-block;line-height:43px;font-size:18px;color:#fff;margin-top:28%;}
.blog .b-over a:hover{background:#fff;color:#222222;}
.blog li:hover .b-over{display:block;opacity:1;}
.top-w-deal{padding:5px 0;}
.top-w-deal li{width:20%;float:left;padding:0 15px;margin-bottom:30px;}
.top-w-deal li .w-deal-in{border:1px solid #e9e9e9;padding:15px 28px;text-align:center;position:relative;background-color:#fff;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:8px;}
.top-w-deal li p{font-size:12px;color:#222222;margin:0px;margin-top:10px;}
.top-w-deal .w-over{position:absolute;top:0;left:0;width:100%;height:100%;background:rgb(45, 62, 82);opacity:0;-webkit-transition:1s ease-in-out;-moz-transition:1s ease-in-out;-ms-transition:1s ease-in-out;-o-transition:1s ease-in-out;transition:1s ease-in-out;z-index:99;border-radius:5px;transform: scale(1.01);box-shadow: 0px 10px 10px;}
.w-over{-webkit-transition:all 0.7s ease;transition:all 0.7s ease;}
.top-w-deal li .w-over a{text-transform:uppercase;background:#e74f1d;color:#fff;margin-top:50px;font-size:12px;display:inline-block;padding:8px 20px;border:5px solid rgba(255,255,255,0.1);}
.top-w-deal li .w-over a:hover{background:#1ab6ca;}
.top-w-deal li:hover .w-over{opacity:1;margin-top:0;}
.top-offer{padding:80px 0;}
.top-offer .tittle{text-align:left;}
.offer-in{border:1px solid #e8e8e8;text-align:center;position:relative;height:100%;width:100%;overflow:hidden;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.offer-in h6{font-size:13px;padding:0 30px;text-transform:uppercase;font-weight:bold;line-height:22px;margin-top:20px;}
.offer-in p{font-size:12px;color:#777777;font-weight:bold;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.offer-in .off-over{-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.offer-in:hover .off-over{position:absolute;top:0px;padding-top:50px;background:rgba(255,255,255,0.9);width:100%;height:100%;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;z-index:3;}
.offer-in .btn{display:none;}
.offer-in .btm-offer{border-top:2px dashed #cccccc;padding-top:10px;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.offer-in:hover .btn{display:inline-block;margin-bottom:30px;}
.offer-in .btm-offer span{color:#282828;font-weight:bold;}
.offer-in:hover .btm-offer{border-top:2px dashed transparent;}
.offer-top-in{position:relative;overflow:hidden;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.off-over{position:absolute;top:-100%;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.offer-in:hover .off-over{position:absolute;top:0px;}
.top-offer .owl-buttons{position:absolute;right:15px;top:-80px;}
.top-offer .owl-nav div{background:#fff;border-radius:0px;color:#002b5e;height:30px;line-height:28px;padding:0px;margin:0px;width:30px;position:absolute;top:-80px;right:0px;font-size:18px;opacity:1;margin-left:10px;border:1px solid #002b5e;}
.top-offer .owl-nav .owl-prev{right:40px;}
.top-offer .owl-nav div:hover{background:#002b5e;color:#fff;}
.offer-in:hover{height:100%;}
.coupen-tab{padding-bottom:60px;}
.coupen-tab .tab-role{background:#fff;display:inline-block;width:100%;}
.coupen-tab .tab-role .nav-tabs > li{margin:0px;padding:0px;}
.coupen-tab .tab-role .nav-tabs > li a{border:0px;margin:0px;padding:0px;padding-top:30px;text-align:center;font-size:15px;color:#232323;font-weight:bold;text-transform:uppercase;border-radius:0px;border:none;padding-bottom:29px;}
.tab-content{display:inline-block;width:100%;}
.copo-tab{display:inline-block;width:100%;background:#f5f5f5;}
.coupen-tab .nav-tabs{border:none;}
.coupen-tab .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background:#002b5e;color:#fff;}
.coupen-tab .tab-content{padding-top:80px;}
.coupen-tab .tab-content li{margin-bottom:30px;}
.coupen-tab .offer-in{height:330px;}
.coupen-tab .btm-info{text-align:center;margin-top:0px;}
.coupen-tab .btm-info{background:#fff;margin-top:20px;}
.coupen-tab .btm-info li{border:none;color:#393939;}
.coupen-tab .btm-info li a{color:#393939;}
.coupen-tab .offer-in:hover .btm-offer{margin:0px;}
.coupen-tab .offer-in:hover .off-over{position:absolute;top:0px;padding-top:20px;}
.small-spon{position:absolute;top:20px;left:20px;z-index:1;border:1px solid #e8e8e8;}
.overlay{background:rgba(0,43,94,0.8)}
.sub-banner{background:url(../images/sub-bnr-bg.jpg) fixed repeat;display:inline-block;width:100%;margin-top:-5px;}
.sub-banner .overlay{padding:40px 0;background:rgba(0,43,94,0.8);padding-top:30px;}
.sub-banner h2{display:inline-block;text-transform:uppercase;font-weight:bold;color:#fff;}
.sub-nav{padding:30px 50px;}
.sub-nav li{display:inline-block;font-size:10px;color:#fff;text-transform:uppercase;margin:0 0px !important;float:none !important;padding:0;width:auto !important;}
.sub-nav li i{color:#1ab6ca;font-size:24px;}
.sub-nav li a{}
.clients{padding:80px 0;}
.clients .clients-in{border:1px solid #e8e8e8;padding:20px;}
.clients .clients-detail .avatar{margin-top:20px;display:inline-block;width:100%;}
.clients .clients-detail .avatar h6{text-transform:uppercase;margin-bottom:5px;margin-top:15px;color:#002b5e;}
.clients .clients-detail .avatar img{height:75px;float:left;width:75px;position:relative;overflow:hidden;border-radius:50%;margin-top:0px;margin-right:20px;display:inline-block;}
.clients .clients-detail:before{height:100%;width:18px;height:21px;position:absolute;display:inline-block;content:"";background:url(../images/client-down.png) no-repeat;margin-top:-1px;right:50px;z-index:9;position:absolute;}
.with-bg{background:url(../images/sub-bnr-bg.jpg) fixed repeat;padding:0px;}
.with-bg .overlay{padding:80px 0;}
.with-bg h3{color:#fff;}
.clients .clients-in{background:#fff;}
.with-bg .clients-detail .avatar h6{color:#fff;}
.with-bg .clients-detail .avatar p{color:#fff;}
.parthner{padding:80px 0;}
.parthner li{padding:0 15px;width:19.7%;display:inline-block;}
.parthner li a{border:1px solid #e8e8e8;display:inline-block;width:100%;text-align:center;padding:20px 0;}
.parthner li a:hover{background:#e8e8e8;}
.parthner li .parthner-in{border:1px solid #e8e8e8;}
.app-com{background:url(../images/patern-bg.jpg) repeat;padding:70px 0;padding-bottom:0px;}
.app-com h3{font-weight:bold;text-transform:uppercase;margin-top:60px;margin-bottom:35px;}
.app-com p{font-size:15px;color:#777777;line-height:30px;font-weight:bold;}
.app-com a{margin-top:40px;display:inline-block;margin-right:20px;}
.pagination{display:inline-block;width:100%;text-align:center;}
.pagination li{display:inline-block;}
.pagination li a{height:45px;width:45px;line-height:45px;text-align:center;padding:0px;border:none;background:#e8e8e8;color:#777777;}
.pagination li a:hover{background:#002b5e;color:#fff;}
#team{padding:80px 0;background:#fff;}
#team .team{text-align:center;margin-top:0px;display:inline-block;width:100%;overflow:hidden;position:relative;}
#team li{overflow:hidden;position:relative;}
#team li .img{overflow:hidden;position:relative;}
#team .team h5{margin-top:30px;text-transform:uppercase;}
#team .team p span{color:#cccccc;margin-bottom:20px;}
#team .bottm-over-t{position:absolute;top:100%;overflow:hidden;z-index:999;background:rgba(0,0,0,0.8);width:100%;height:100%;padding:20px 0;text-align:center;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
#team .btm-detail h5{color:#fff;}
#team .btm-detail{height:170px;position:absolute;bottom:0px;background:#002b5e;padding-top:20px;width:100%;left:0px;}
#team li:hover .bottm-over-t{padding-top:0;top:0;}
#team .social_icons{display:inline-block;width:100%;}
#team .social_icons li{display:inline-block;float:none;}
#team .social_icons a{font-size:18px;margin:0px;color:#fff;}
.btm-detail{}
#team .bottm-over-t{}
.pricing{padding:80px 0;}
.pricing .price-in{border:1px solid #ccc;display:inline-block;width:100%;position:relative;}
.pricing .price-head{background:#002b5e;border-bottom:2px solid #001228;font-size:22px;font-weight:bold;display:inline-block;width:100%;text-transform:uppercase;text-align:center;color:#fff;line-height:58px;}
.pricing .price{text-align:center;}
.pricing .price{padding:40px 0;}
.pricing .price h3{margin:0px;}
.pricing .price-tag{background:url(../images/tag-bg.png) no-repeat;width:102px;height:49px;float:right;position:absolute;right:-8px;text-align:center;line-height:45px;color:#fff;font-weight:bold;top:91px;}
.price-details{display:inline-block;width:100%;padding:0 10%;}
.price-details li{display:inline-block;width:100%;text-align:center;border-top:1px dashed #e9e9e9;line-height:52px;}
.price-details li p{line-height:52px;margin:0px;}
.price-details .btn{border-radius:4px;margin:30px 0;}
.our-best{padding:80px 0;text-align:center;}
.our-best li{text-align:center;padding:0 15px;display:inline-block;width:14%;}
.our-best .icon{border:3px solid #ffdd00;height:113px;width:113px;border-radius:50%;line-height:106px;display:inline-block;margin-bottom:10px;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.our-best li:hover .icon{border:3px solid #002b5e;}
.our-best li h6{text-transform:uppercase;color:#222222;font-size:14px;}
.community{background:url(../images/comm-bg.jpg) fixed no-repeat;padding:40px 0;background-size:cover;}
.community h4{color:#fff;text-transform:uppercase;margin:0px;}
.community .btn{border-radius:4px;margin-top:30px;}
.community a{width:150px;display:inline-block;margin-top:20px;}
.community .sizer{background:url(../images/swizer.png) center center no-repeat;width:16px;height:135px;top:15px;left:0px;right:0px;margin:0 auto;position:absolute;}
#portfolio{padding:80px 0;background:#fff;}
.filter{margin-bottom:50px;text-align:left;margin-top:20px;width:100%;}
.filter li a{margin-right:0px;font-size:14px;color:#002b5e;font-weight:400;display:inline-block;text-decoration:none;border-radius:4px;margin:0px;padding:5px 20px;margin-right:12px;border:1px solid #002b5e;text-transform:uppercase;}
.filter li a:hover{color:#fff;background:#002b5e;border-color:#002b5e;}
.filter li a.active{color:#fff;border-color:#002b5e;background:#002b5e;}
.filter li{margin:0;position:relative;display:inline-block;cursor:pointer;}
.filter li select{border:1px solid #002b5e;color:#002b5e;height:32px;border-radius:4px;font-size:12px;padding:0 30px 0 10px;text-transform:uppercase;}
.categorydropdown{border:1px solid #002b5e;color:#002b5e;height:32px;border-radius:4px;font-size:12px;padding:0 30px 0 10px;text-transform:uppercase;margin-bottom:20px;}
.isotope-item{z-index:2;display:block !important;}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1;}
.isotope, .isotope .isotope-item{-webkit-transition-duration:0.4s;-moz-transition-duration:0.4s;-ms-transition-duration:0.4s;-o-transition-duration:0.4s;transition-duration:0.4s;}
.isotope{}
.isotope .isotope-item{}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition{}
.portfolio .items{margin:0 -15px;}
.portfolio .item{width:25%;display:inline-block;padding:0;overflow:hidden;margin-bottom:30px;position:relative;}
.portfolio .prod-item{border:1px solid #cccccc;margin:0 15px;}
.portfolio .prod-item h5{margin-top:0px;}
.portfolio .img-product{padding:13px;border-top:1px solid #cccccc;width:100%;display:inline-block;}
.portfolio .items-info{padding:15px 13px;text-align:center;padding-bottom:20px;border-top:1px solid #d0d0d0;}
.portfolio .items-info h5{color:#002b5e;margin:0px;font-weight:bold;text-align:left;}
.portfolio .items-info h5 span{font-size:12px;color:#aaaaaa;font-weight:normal;text-decoration:line-through;}
.portfolio .free-ship{float:right;font-size:10px;font-weight:100;color:#aaaaaa;width:50px;display:inline-block;text-align:left;margin-top:-24px;}
.portfolio .items-info .btn{border-radius:4px;height:32px;line-height:30px;color:#fff;margin-top:30px;width:150px;display:inline-block;}
.portfolio .prod-item a{padding:0 13px;display:inline-block;width:100%;color:#040200;line-height:25px;}
.portfolio .prod-item a:hover{color:#002b5e;}
.portfolio .up-to{float:right;width:100px;text-align:right;}
.portfolio .up-to span{font-family:'Lato', sans-serif;display:inline-block;width:100%;font-size:12px;color:#002b5e;line-height:15px;}
.portfolio .up-to span:nth-child(2){font-size:10px;color:#999999;}
.portfolio .top-brand{padding:10px 13px;height:58px;}
.stores{}
.stores .finde{float:right;width:150px;margin-top:-30px;}
.stores .finde button{background:#002b5e;font-size:15px;text-transform:uppercase;color:#fff;display:inline-block;height:40px;border:none;padding:0 20px;margin-left:5px;}
.stores .finde select{width:75px;float:left;display:inline-block;border:1px solid #e8e8e8;height:40px;color:#cccccc;padding:0 10px;}
.stores .letters{border:1px solid #e8e8e8;margin-bottom:50px;display:inline-block;width:100%;}
.stores .letters h3{color:#002b5e;padding:0 30px;line-height:48px;margin:0px;display:inline-block;width:100%;background:#f8f8f8;border-bottom:1px solid #e8e8e8;}
.stores .letters li{}
.stores .tittle{text-align:left;}
.stores .letters li a{line-height:36px;font-weight:600;font-size:15px;color:#777777;display:inline-block;width:100%;font-family:'Lato', sans-serif;}
.stores .letters li a:hover{color:#002b5e;}
.letters ul{padding:30px;}
.letters ul li ul{padding:0px;}
.letters ul li ul li{border-right:1px dashed #cccccc;}
.letters ul .no-border li{border:none;}
section.sign-up{padding-bottom:35px;}
.sign-up h4{text-transform:uppercase;font-weight:bold;margin:0px;margin-bottom:30px;}
.sign-up li input{display:inline-block;width:100%;}
.sign-up li label{color:#777777;display:inline-block;width:100%;font-size:12px;text-transform:uppercase;font-weight:normal;}
.sign-up li .form-control{border-radius:4px;height:40px;border:1px solid #ececec;box-shadow:none;margin-top:10px;}
.sign-up li .form-control:focus{border-color:#002b5e !important;}
.sign-up li .btn{border-radius:4px;line-height:40px;padding:0px;display:inline-block;width:100%;margin-top:10px;}
.policy{margin-top:50px;}
.policy p{font-size:15px;font-weight:500;color:#222222;}
.policy a{color:#002b5e;}
.submit-coupon{padding:80px 0;background:#ffffff;}
.submit-coupon .tittle h5{color:#777777;text-transform:uppercase;}
.submit-coupon .sub-cin{background:#fafafa;border:1px solid #e8e8e8;padding:28px;}
.submit-coupon h6{font-size:15px;color:#333333;margin-top:30px;margin-bottom:20px;display:inline-block;width:100%;font-weight:normal;text-transform:uppercase;}
.submit-coupon .sub-cin .form-control{border-radius:0px;box-shadow:none;border:1px solid #e6e6e6;display:inline-block;width:100%;}
.submit-coupon .sub-cin .cou-type{}
.cou-type .nav-tabs li{padding:0px;text-align:center;padding:0px;margin:0px;border:none;line-height:50px;}
.cou-type .nav-tabs li a{font-size:12px;text-transform:uppercase;color:#333333;line-height:50px;padding:0px;margin:0px;border:none;border-right:1px solid #e5e5e5;}
.cou-type .nav-tabs li:nth-last-child(1) a{border-right:none;}
.cou-type .nav-tabs{border:1px solid #e5e5e5;}
.cou-type .nav-tabs > li > a:hover{border:none;margin:0px;background:#002b5e;color:#fff;border-radius:0px;border-bottom:4px solid #ffdd00}
.cou-type .nav-tabs > li.active > a{border:none;margin:0px;background:#002b5e;color:#fff;border-radius:0px;border-bottom:4px solid #ffdd00;}
.cou-type textarea{height:120px;border:1px solid #e5e5e5;padding:10px;display:inline-block;width:100%;}
.cou-type input{height:40px;}
.form-control:focus{border-color:#002b5e !important;}
.cou-type .coupon-chapc{display:inline-block;width:210px;background:#f2f2f2;line-height:86px;height:86px;margin-top:20px;margin-bottom:20px;border:1px solid #e6e6e6;text-align:center;}
.cou-type .calen{float:right;margin-right:20px;margin-top:-28px;color:#aaaaaa;font-size:15px;}
.cou-type .btn{width:100%;height:50px;line-height:50px;padding:0px;font-size:18px;margin-top:30px;}
.core-com{text-align:center;}
.core-com h4{font-weight:bold;color:#333333;margin-top:0px;}
.com-img{display:inline-block;width:100%;text-align:center;padding:40px 0 50px 0;border-bottom:1px dashed #cccccc;margin-bottom:50px;}
.com-feature{text-align:left;}
.com-feature h4{margin-bottom:30px;color:#333333;}
.com-feature p{font-size:16px;line-height:24px;}
.com-feature li{margin-bottom:30px;display:inline-block;width:100%;}
.com-feature li i{font-size:24px;color:#002b5e;}
.com-feature h6{margin:0px;margin-bottom:10px;}
.coupon-win{background:#ffdd00;padding:25px;border:1px dashed #002b5e;outline:10px solid #ffdd00;margin-top:80px;display:inline-block;width:100%;text-align:center;margin-bottom:50px;}
.coupon-win h4{font-size:22px;display:inline-block;font-weight:bold;}
.coupon-win .join{background:#fff;height:40px;display:inline-block;line-height:40px;padding:0 30px;margin-left:50px;color:#002b5e;}
.coupon-win .join:hover{background:#002b5e;color:#fff;}
.blog .title-hed{display:inline-block;width:100%;font-size:18px;font-weight:bold;color:#222222;text-transform:uppercase;margin-top:30px;}
.blog .title-hed:hover{color:#002b5e;}
.blog .blog-post ul.small-tag{display:inline-block;width:100%;margin-top:15px;margin-bottom:15px;}
.blog .blog-post{margin-bottom:60px;display:inline-block;width:100%;position:relative;}
.blog .blog-post ul.small-tag span{margin:0 10px;}
.blog .blog-post p{font-size:16px;line-height:26px;}
.blog .blog-post ul.small-tag span:nth-child(1){margin-left:0px;}
.blog .blog-post ul.small-tag li{color:#777777;}
.blog .blog-post ul.small-tag li i{margin-right:5px;}
.blog .blog-post img{width:100%;}
.blog .blog-post .btn{border:1px solid #002b5e;background:none;color:#002b5e;height:46px;padding:0px 30px;line-height:44px;}
.blog .blog-post .btn i{margin-right:10px;}
.blog .blog-post .btn:hover{background:#002b5e;color:#fff;}
.blog .post-date-big{background:url(../images/l-date-bg.png) no-repeat;width:127px;height:180px;float:right;position:absolute;z-index:1;right:0px;top:0px;font-size:26px;font-weight:bold;color:#fff;text-align:right;padding-right:20px;padding-top:20px;}
.blog-side-bar h5{color:#222222;text-transform:uppercase;margin-top:40px;margin-bottom:20px;}
.blog-side-bar .cate-side{}
.blog-side-bar .cate-side li{padding-top:13px;display:inline-block;width:100%;}
.blog-side-bar .cate-side li:hover img{opacity:0.5;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.blog-side-bar .cate-side li .img-side{width:80px;position:relative;overflow:hidden;float:left;margin-right:20px;}
.blog-side-bar .cate-side li a{font-weight:bold;color:#697a8e;font-size:14px;line-height:25px;}
.blog-side-bar .cate-side li span{}
.blog-side-bar .cate-sim a{display:inline-block;width:100%;color:#222222;font-size:15px;line-height:25px;font-family:'Lato', sans-serif;}
.blog-side-bar .cate-sim{margin-top:0px;}
.blog-side-bar a:hover{color:#002b5e !important;}
.blog-side-bar .cate-sim li{line-height:38px;}
.blog-side-bar .cate-sim a span{color:#777777;}
.blog-side-bar .cate-sim li:hover a span{color:#777777;}
.blog-side-bar .flicker{margin:0 -5px;}
.blog-side-bar .flicker li{padding:0 5px;margin-bottom:10px;position:relative;-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.blog-side-bar .flicker li:hover img{opacity:0.3;}
.blog-side-bar .tw-widgets li{display:inline-block;width:100%;margin-bottom:20px;}
.blog-side-bar ul.wid-in li{border:none;margin-bottom:0px;}
.blog-side-bar ul.wid-in li:nth-child(1){width:80px;border-radius:4px;position:relative;overflow:hidden;float:left;display:inline-block;border:none;}
.blog-side-bar ul.wid-in li h5{margin:0px;padding-bottom:10px;border:none;color:#697a8e !important;}
.blog-side-bar ul.wid-in li:nth-child(2){float:right;width:64%;}
.blog-side-bar ul.wid-in li span{color:#777777;font-size:12px;display:inline-block;width:100%;text-transform:uppercase;margin-top:15px;}
.blog-side-bar ul.wid-in li span i{margin-right:5px;}
.blog-side-bar ul.wid-in li a{font-size:13px;color:#222222;line-height:18px;text-transform:uppercase;display:inline-block;width:100%;}
.blog-side-bar .cate-side li .img-side img{}
.blog-side-bar .cate-side li a{font-size:14px;line-height:30px;color:#222222;line-height:18px;text-transform:uppercase;display:inline-block;width:60%;}
.blog-side-bar .cate-side li span{width:65%;display:inline-block;font-size:12px;color:#b7c2cd;}
.blog-side-bar .cate-side li span i{color:#b7c2cd;margin:0 10px;}
.blog-side-bar .search input{width:100%;border:none;border:1px solid #cccccc;border-radius:6px;height:40px;padding:0 20px;padding-left:50px;font-style:italic;color:#adb9c6;font-size:14px;}
.blog-side-bar .search button{height:40px;color:#cccccc;font-size:18px;background:none;border:none;border-right:1px solid #cccccc;position:relative;float:left;margin-top:-40px;width:40px;text-align:center;}
.blog-side-bar .latest-tw{}
.blog-side-bar .latest-tw ul.wid-in li:nth-child(1){width:30px;}
.blog-side-bar .latest-tw ul.wid-in li:nth-child(2){width:85%;}
.blog-side-bar .latest-tw li h6{margin-top:0px;color:#a3a3a3;}
.blog-side-bar .latest-tw li a{text-transform:none !important;display:inline-block;width:auto !important;color:#28a9e2 !important;}
.blog-side-bar .wid-in li:nth-child(1) i{color:#a3a3a3;font-size:22px;}
.share-post{border-bottom:1px solid #cccccc;display:inline-block;width:100%;padding-bottom:20px;}
.share-post h3{font-weight:bold;margin:0px;margin-top:8px;}
.share-post li a{border-radius:4px;margin-left:10px;border:1px solid #CCC;}
.admin-info{padding:30px;border:1px solid #cccccc;margin-top:40px;margin-bottom:40px;}
.admin-info p{color:#777777;font-size:16px;line-height:28px;}
.admin-info h6{margin-bottom:20px;color:#222222;}
.admin-info .social_icons{display:inline-block;width:100%;margin-top:20px;}
.admin-info .social_icons a{background:#f3f3f3;color:#333333;font-size:18px;margin-right:05px;}
.post-navi{display:inline-block;width:100%;border-bottom:2px solid #222222;padding-bottom:30px;}
.post-navi img{width:100%;}
.post-navi span{font-size:14px;color:#777777;margin-top:15px;display:inline-block;width:100%;line-height:20px;}
.post-navi span.hiding{font-size:13px;font-weight:bold;color:#222222;text-transform:uppercase;}
.post-navi span.hiding:hover{color:#002b5e;}
.comments{margin-top:30px;}
.comments .media-list{margin-bottom:30px;}
.comments .media-list li{padding:20px 0;border-bottom:1px solid #cccccc;}
.comments .media-left{margin-right:20px;}
.comments .media p{margin-top:20px;font-size:16px;}
.comments .media span{font-size:14px;color:#777777;display:inline-block;width:100%;margin:8px 0;}
.comments .media a{font-size:12px;color:#002b5e;font-weight:bold;}
.comments form label{text-transform:uppercase;font-weight:normal;margin-top:20px;display:inline-block;width:100%;font-size:12px;}
.comments form .form-control{display:inline-block;width:100%;height:38px;margin-top:5px;border-radius:0px;box-shadow:none;}
.comments form textarea.form-control{display:inline-block;width:100%;height:150px;}
.comments{margin-bottom:50px;}
.error-page{padding:80px 0;text-align:center;}
.error-page .not-found{background:url(../images/error-bg.png) center 20px no-repeat;margin:0 auto;padding-top:90px;width:522px;margin:0 auto;height:528px;font-size:83px;color:#fff;text-align:center;font-weight:bold;text-transform:uppercase;}
.error-page .not-found .warng-out{}
.error-page .warng{width:700px;margin:0 auto;margin-top:50px;}
.error-page .warng p{font-size:20px;color:#555555;line-height:28px;}
.error-page .not-found i{display:inline-block;width:100%;font-size:110px;}
.error-page .search{margin:50px 0;}
.error-page input{width:100%;border:none;border:1px solid #cccccc;border-radius:0px;height:40px;padding:0 20px;padding-left:50px;font-style:italic;color:#adb9c6;font-size:14px;}
.error-page .search button{height:40px;color:#777777;font-size:18px;background:none;border:none;border-right:1px solid #cccccc;position:relative;float:left;margin-top:-40px;width:40px;text-align:center;}
#map{display:inline-block;width:100%;height:450px;position:relative;border:none;}
.contact{margin-top:-5px;}
.contact-info{padding:80px 0;padding-bottom:120px;}
.contact-info h3{margin:0px;text-transform:uppercase;margin-bottom:30px;}
.contact-info p{font-size:16px;line-height:22px;}
.contact-info .con-det{margin-top:30px;display:inline-block;width:100%;}
.contact-info .con-det li{display:inline-block;width:100%;margin-bottom:20px;}
.contact-info .con-det i{font-size:24px;color:#002b5e;float:left;width:45px;height:80px;}
.contact-info .social_icons{width:65%;}
.contact-info .social_icons a{background:#f5f5f5;font-size:16px;margin-right:2px;margin-bottom:2px;}
.contact-info .con-det h6{text-transform:uppercase;margin-top:0px;}
.contact #contact_form{text-align:center;}
.contact .error{border:1px solid #e34120 !important;}
.contact .error:before{content:"\f068";font-family:FontAwesome;margin-right:0px;color:#0096ff;padding:0px;padding:0px 13px;float:right;font-size:12px;position:absolute;}
.contact .success-msg{background:#fff;border:1px solid #ABD0A8;color:#589051;margin-bottom:30px;width:100%;display:inline-block;text-align:left;padding:11px 16px;border-radius:4px;display:none;}
.contact .success-msg i{padding:10px;border-radius:50%;border:1px solid #ABD0A8;margin-right:10px;}
#contact_form li{display:inline-block;width:100%;margin-bottom:22px;text-align:left;}
#contact_form li input{display:inline-block;width:100%;height:50px;padding:0 20px;}
#contact_form li .form-control{height:50px;border:1px solid #e9eaee;box-shadow:none;border-radius:0px;}
#contact_form li textarea{height:150px !important;}
#contact_form li .btn{height:50px;display:inline-block;margin-top:0px;}
.shortcodes{padding:80px 0;}
.shortcodes .tittle{margin-bottom:20px;}
.hight-lights p{font-size:15px;font-family:'Montserrat';line-height:24px;color:#000000;}
.hight-lights .w-bg{background:#002b5e;color:#fff;}
.hight-lights .w-under{text-decoration:underline;color:#002b5e;}
.hight-lights strong{}
.shortcodes h1{margin-top:0px;}
.shortcodes .btn-med{margin-left:3px;margin-right:3px;}
.drop-cobs p{font-size:14px;color:#777777;font-weight:100;font-family:'Montserrat';}
.drop-cobs p span{background:#002b5e;height:60px;width:60px;text-align:center;line-height:60px;font-weight:bold;font-family:'Montserrat';font-size:40px;float:left;color:#fff;margin-bottom:5px;margin-right:20px;display:inline-block;}
.drop-cobs p span.border{background:none;color:#002b5e;border:1px solid #002b5e;}
.alert{height:57px;text-transform:uppercase;line-height:26px;}
.alert span{float:right;font-size:26px;}
.alert i{height:36px;width:36px;border-radius:50%;color:#fff;margin-top:-10px;margin-right:20px;text-align:center;line-height:36px;}
.alert-success{}
.alert-success i{background:#468847;}
.alert-info i{background:#4853b9;}
.alert-warning i{background:#c09853;}
.alert-danger i{background:#ee180d;}
#accordion{}
#accordion .panel-default > .panel-heading .panel-title a:before{content:"\f077";font-family:FontAwesome;padding:0px;color:#fff;float:right;padding:0px 15px;}
#accordion .panel-default > .panel-heading .panel-title a.collapsed:before{content:"\f078";color:#222222;font-family:FontAwesome;}
#accordion .icon-accor{background:#ffdd00;color:#222222;display:inline-block;height:41px;width:41px;text-align:center;line-height:41px;margin-right:15px;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
#accordion .panel-default{border:none;}
#accordion .panel-default > .panel-heading{background-color:#002b5e;padding:0px;color:#fff;border-radius:0px;overflow:hidden;border:none;}
#accordion .panel-default > .panel-heading a{text-decoration:none;font-size:16px;width:100%;font-weight:400;padding:0px;line-height:40px;display:inline-block;padding-left:0px;}
#accordion .collapsed{background:#f8f8f8;color:#222222 !important;}
#accordion .collapsed .icon-accor{background:#35353d;color:#fff;}
#accordion .panel-group .panel{border-radius:0px;}
#accordion .panel-body{border:1px solid #e8e8e8;}
#tabs .tab-pane{padding:20px;border:1px solid #e8e8e8;}
#tabs .nav-tabs > li{border:none;margin:0px;padding:0px;}
#tabs .nav-tabs > li a{border:none;float:left;padding:10px 30px;border-radius:0px;text-transform:uppercase;}
#tabs .nav-tabs > li.active a{border:none;background:#002b5e;color:#fff;}
#tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border:none;}
#tabs .nav-tabs{border:none;border-bottom:3px solid #002b5e;}
.skills-bar .progress{height:29px;background:#aaaaaa;}
.skills-bar .progress-bar{text-align:left;}
.skills-bar h5{font-size:16px;display:inline-block;display:inline-block;width:100%;}
.skills-bar .progress-bar{float:left;width:100%;height:11px;font-size:12px;line-height:20px;color:#fff;text-align:center;background-color:#002b5e;border-radius:30px;}
.skills-bar li{position:relative;display:inline-block;width:100%;margin-top:20px;}
.aboutus{padding-bottom:25px;}
.skills-bar .progress{overflow:inherit !important;background:#fff;border:9px solid #e7e7e7;border-left:20px solid #e7e7e7;border-right:20px solid #e7e7e7;border-radius:30px;box-shadow:none;}
.skills-bar .progress-bar span{text-align:center;line-height:29px;background:url(../images/per-bg.png) no-repeat;font-size:13px;color:#fff;width:51px;height:42px;float:right;position:relative;top:-58px;}
footer{padding:80px 0;padding-bottom:0px;}
footer h6{color:#fff;text-transform:uppercase;color:#fff;margin:0px;margin-bottom:30px;}
footer p{color:#fff;font-weight:normal;font-size:16px;color:#eeeeee;}
footer .links a{font-size:12px;text-transform:uppercase;color:#fff;margin-bottom:20px;display:inline-block;width:100%;}
footer .links a:hover{color:#ffdd00;text-decoration:underline !important;}
footer .subcribe{border:1px solid rgba(76,171,51,0.2);padding:30px 20px;display:inline-block;width:100%;}
footer .subcribe p{margin-bottom:30px;}
footer .subcribe input{display:inline-block;width:100%:}
footer .subcribe .form-control{border-radius:0px;}
footer button{background:#002b5e;color:#fff;font-size:12px;text-transform:uppercase;line-height:34px;float:right;margin-top:-34px;position:relative;z-index:1;border:none;padding:0 10px;}
footer .rights{background:#111111;padding:40px 0;margin-top:30px;text-transform:uppercase;text-align:center;}
footer .rights p{font-family:'Montserrat';font-size:12px;font-weight:bold;}
footer .social_icons{display:inline-block;margin-top:20px;}
footer .social_icons li{background:#333333;margin-right:15px;}
footer .social_icons a{font-size:16px;color:#fff;}
.social_icons{position:relative;z-index:9;}
.social_icons ul{margin:0;padding:0;text-align:center;}
.social_icons li{display:inline-block;list-style:none;float:left;}
.social_icons a{display:block;width:40px;height:40px;margin:0px;font-size:14px;line-height:40px;text-decoration:none;border-radius:0px;text-align:center;color:#3b3b3b;}
.social_icons a:hover i{-webkit-border-radius:100%;-moz-border-radius:100%;-webkit-transition:0.4s ease-in-out;color:#fff;}
.social_icons .behance a:hover{color:#fff;background-color:#2b9ad2;border-color:#2b9ad2;}
.social_icons .blogger a:hover{color:#fff;background-color:#ff6500;border-color:#ff6500;}
.social_icons .deviantart a:hover{color:#fff;background-color:#536659;border-color:#536659;}
.social_icons .dribbble a:hover{color:#fff;background-color:#f973a4;border-color:#f973a4;}
.social_icons .facebook a:hover{color:#fff;background-color:#3b5a9b;border-color:#3b5a9b;}
.social_icons .flickr a:hover{color:#fff;background-color:#ff0084;border-color:#ff0084;}
.social_icons .forrst a:hover{color:#fff;background-color:#2f713d;border-color:#2f713d;}
.social_icons .googleplus a:hover{color:#fff;background-color:#f63d26;border-color:#f63d26;}
.social_icons .instagram a:hover{color:#fff;background-color:#507ea4;border-color:#507ea4;}
.social_icons .lastfm a:hover{color:#fff;background-color:#da0019;border-color:#da0019;}
.social_icons .linkedin a:hover{color:#fff;background-color:#0072b2;border-color:#0072b2;}
.social_icons .paypal a:hover{color:#fff;background-color:#165c82;border-color:#165c82;}
.social_icons .picasa a:hover{color:#fff;background-color:#cb2027;border-color:#cb2027;}
.social_icons .pinterest a:hover{color:#fff;background-color:#cb2027;border-color:#cb2027;}
.social_icons .skype a:hover{color:#fff;background-color:#00aaf1;border-color:#00aaf1;}
.social_icons .soundcloud a:hover{color:#fff;background-color:#ff6900;border-color:#ff6900;}
.social_icons .stumbleupon a:hover{color:#fff;background-color:#eb4823;border-color:#eb4823;}
.social_icons .twitter a:hover{color:#fff;background-color:#2baae1;border-color:#2baae1;}
.social_icons .vimeo a:hover{color:#fff;background-color:#40b2dc;border-color:#40b2dc;}
.social_icons .youtube a:hover{color:#fff;background-color:#ff3330;border-color:#ff3330;}
.social_icons .tumblr a:hover{color:#fff;background-color:#35506b;border-color:#35506b;}
.coupon{float:left}
.sidebar{width:25%;float:right;padding:0 15px 0 15px;}
.site-box{box-shadow:0 0 7px #989898;padding:0;}
.site-box h2{background:rgba(0, 0, 0, 0) repeat-x scroll 0 0;border-bottom:1px solid #ddd;color:#333;font-family:Arial,Helvetica,sans-serif;font-size:16px;font-weight:bold;padding:7px 10px;text-shadow:1px 1px #fff;text-transform:uppercase;}
.site-box-content{background:#ffffff none repeat scroll 0 0;box-shadow:0 0 7px #cacaca;clear:both;margin-bottom:2px !important;overflow:hidden;padding:10px 10px 5px;}
.detStore p{clear:both;font-size:14px;padding-bottom:10px;}
.cashback-div p span{background:#157b88 none repeat scroll 0 0;color:#fff;display:block;font-family:"open_sansbold";font-size:15px;margin:auto 10px auto auto;text-align:center;width:58px;}
.head{min-height:103px;max-height:103px;overflow:hidden;}
.ui-tabs{zoom:1;}
.ui-tabs .ui-tabs-nav{list-style:none;position:relative;padding:0;margin:0;}
.ui-tabs .ui-tabs-nav li{position:relative;float:left;margin:0 3px -2px 0;padding:0;}
.ui-tabs .ui-tabs-nav li a{display:block;padding:10px 20px;background:#f0f0f0;border:2px #ccc solid;border-bottom-color:#ccc;outline:none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a{padding:10px 20px 12px 20px;background:#fff;border-bottom-style:none;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:default;}
.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}
.ui-tabs .ui-tabs-panel{display:block;clear:both;padding:10px;}
.white-body h4{padding:15px 5px;border-bottom:1px solid #e0e0e0;margin-bottom:23px;font-size:20px;}
.inner-share-section{background:#353535;padding:26px;margin:16px 0px;}
.inner-share-section .fa-facebook{color:#3b5999;}
.inner-share-section .fa-twitter{color:#55acee;}
.inner-share-section .fa-google-plus{color:#dd4b39;}
.inner-share-section .fa-whatsapp{color:#25D366;}
.inner-share-section .fa{font-size:23px;}
.inner-share-section a{margin:0px 6px;}
.inner-share-section h5{padding-bottom:15px;}
h5{font-size:12px;font-weight:800 !important;letter-spacing:2px;text-transform:uppercase;}
.white-body .btn{outline:none;background:#e74f1d;color:#fff;text-transform:uppercase;font-size:12px;margin-bottom:20px;}
.white-body .btn a{color:#fff;}
.profile-photo{border:1px solid #ddd;}
section.myaccount{padding-bottom:35px;}
.bgfff{background:#fff;}
.account-avatar{padding:20px 0px;}
.profilename{padding:0px 0px 20px;}
.myaccount .myaccount-tabs{margin-top:12px !important;padding:0em 0em 0 !important;}
.myaccount .myaccount-tabs li{float:none !important;}
.myaccount-dashboard h4{padding:15px 5px;border-bottom:1px solid #e0e0e0;margin-bottom:23px;font-size:20px;}
.myaccount .myaccount-tabs li a{padding:12px 20px !important;background:#fff !important;border:1px solid #ddd !important;margin-bottom:-2pX;}
.ui-tabs .ui-tabs-panel1{display:block;clear:both;border:2px #ccc solid;padding:10px;}
.ui-tabs .ui-tabs-hide{display:none;}
.table{margin-bottom:30px;width:100%;}
table{border-collapse:collapse;border-spacing:0;}
#lean_overlay{position:fixed;z-index:100;top:0px;left:0px;height:100%;width:100%;background:#000;display:none;}
.popupContainer{position:absolute;width:330px;height:auto;left:35%;top:5%;background:#FFF;}
.popupContainercoupon{position:absolute;width:580px;height:auto;left:35%;top:5%;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.btn1{padding:10px 20px;background:#F4F4F2;}
.btn_red{background:#ED6347;color:#FFF;}
.btn1:hover{background:#E4E4E2;}
.btn_red:hover{background:#C12B05;}
a.btn1{color:#666;text-align:center;text-decoration:none;}
a.btn_red{color:#FFF;}
.one_half{width:50%;display:block;float:left;}
.one_half.last{width:45%;margin-left:5%;}
.popupHeader{font-size:16px;text-transform:uppercase;}
.popupHeader{background:#F4F4F2;position:relative;padding:15px 20px;border-bottom:1px solid #DDD;font-weight:bold;}
.popupHeader .modal_close{position:absolute;right:0;top:0;padding:10px 15px;background:#E4E4E2;cursor:pointer;color:#aaa;font-size:16px;}
.popupBody{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);}
.social_login{}
.social_login .social_box{display:block;clear:both;padding:10px;margin-bottom:10px;background:#F4F4F2;overflow:hidden;}
.social_login .icon{display:block;width:10px;padding:5px 10px;margin-right:10px;float:left;color:#FFF;font-size:16px;text-align:center;}
.social_login .fb .icon{background:#3B5998;}
.social_login .google .icon{background:#DD4B39;}
.social_login .icon_title{display:block;padding:5px 0;float:left;font-weight:bold;font-size:16px;color:#777;}
.social_login .social_box:hover{background:#E4E4E2;}
.centeredText{text-align:center;margin:20px 0;clear:both;overflow:hidden;text-transform:uppercase;}
.action_btns{clear:both;overflow:hidden;}
.action_btns a{display:block;}
.user_login{display:none;}
.user_login label{display:block;margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"]{display:block;width:90%;padding:10px;border:1px solid #DDD;color:#666;}
.user_login input[type="checkbox"]{float:left;margin-right:5px;}
.user_login input[type="checkbox"]+label{float:left;}
.user_login .checkbox{margin-bottom:10px;clear:both;overflow:hidden;}
.forgot_password{display:block;margin:20px 0 10px;clear:both;overflow:hidden;text-decoration:none;color:#ED6347;}
.user_register{display:none;}
.user_register label{display:block;margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"]{display:block;width:90%;padding:10px;border:1px solid #DDD;color:#666;}
.user_register input[type="checkbox"]{float:left;margin-right:5px;}
.user_register input[type="checkbox"]+label{float:left;}
.user_register .checkbox{margin-bottom:10px;clear:both;overflow:hidden;}
.errormsglogin{color:red}
.errormsgreg{color:red}
.errorbox{color:red !important;border:1px solid red !important;font-size:10px;}
.stMainServices.st-facebook-counter , .stMainServices.st-twitter-counter , .stButton_gradient.stHBubble{height:21px !important}
.cashback-link{display:none;margin-top:17px;text-align:center;}
.coupon-width{width:25%}
.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{z-index:999;}
.howitworks{padding-left:25px!important;}
.howitworks li{list-style:decimal!important;margin-bottom:5px;!important}
.couponimg{height:145px;width:208px;text-align:center;}
.storelogo{float:left;width:25%;text-align:center;}
.storedesc{float:right;width:75%;}
.coupon-img{width:30%;text-align:center;float:left;}
.coupon-title{text-align:center;float:right;width:70%;}
.related-coupons{width:33.33%;}
.width-25{width:25%;}
@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);.content{padding-top:30px;}
.testimonials blockquote{background:#f8f8f8 none repeat scroll 0 0;border:medium none;color:#666;display:block;font-size:14px;line-height:20px;padding:15px;position:relative;}
.testimonials .carousel-info img{border:1px solid #f5f5f5;border-radius:150px !important;height:75px;padding:3px;width:75px;}
.testimonials .carousel-info{overflow:hidden;}
.testimonials .carousel-info img{margin-right:15px;}
.testimonials .carousel-info span{display:block;}
.testimonials span.testimonials-name{color:#e6400c;font-size:16px;font-weight:300;margin:23px 0 7px;}
.testimonials span.testimonials-post{color:#656565;font-size:12px;}
div.stars{width:70%;display:inline-block;}
input.star{display:none !important;}
label.star{float:right;padding:18px;font-size:36px !important;color:#444;width:10% !important;transition:all .2s;}
input.star:checked ~ label.star:before{content:'\f005';color:#FD4;transition:all .25s;}
input.star-5:checked ~ label.star:before{color:#FE7;text-shadow:0 0 20px #952;}
input.star-1:checked ~ label.star:before{color:#F62;}
label.star:hover{transform:rotate(-15deg) scale(1.3);}
label.star:before{content:'\f006';font-family:FontAwesome;}
.testimonial_title{font-size:18px !important;margin-top:0 !important;text-transform:none !important;}
.customersstars{width:70%;display:inline-block;}
label.cstar{float:left;padding:2px !important;font-size:18px !important;color:#444;width:auto !important;transition:all .2s;}
label.cstar:before{content:'\f005';color:#FD4;transition:all .25s;}
label.cstar:before{color:#FE7;}
label.cstar{content:'\f006';font-family:FontAwesome;}
.homeactive{width:45%;float:left}
.homeactive.last{float:right}
.storeheader{background:#fff none repeat scroll 0 0;border:1px solid #ddd;box-shadow:0 0 7px #cacaca;float:left;padding:10px;margin-bottom:20px;border-radius:10px;}
.coupon-code{width:250px;padding:10px;text-align:center;border:3px dashed #ccc;margin-left:30%}
.coupon-code-popup{padding:10px;text-align:center;border:3px dashed #ccc;}
.invite_network{width:50%;float:left;height:172px;border:1px solid rgb(243, 243, 243);}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);html,body{height:100%;font-family:'Montserrat', sans-serif !important;font-weight:400;color:#222;}
body{background-color:#ecf0f1 !important;}
body.home{background-color:#fff !important;}
h1,h2,h3,h4,h5,p{margin-top:0px;margin-bottom:0px;}
h1{font-size:40px;font-weight:400;}
h2{font-size:25px;font-weight:700;}
h3{font-size:20px;}
h4{font-size:13px;font-weight:800;text-transform:uppercase;}
.bg223{background:#223241;}
.bg2d3{background:#2d3e52;}
.bgecf{background:#ecf0f1;}
.bgf3f{background: #f46b45;background: -webkit-linear-gradient(to right, #eea849, #f46b45);background:linear-gradient(to right, #eea849, #f46b45);}
.bg272{background:#272d39;}
.bg2b2{background:#2b2f32;}
.bgfff{background:#fff;border-radius: 5px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.padtop_padbot{padding-top:60px;padding-bottom:60px;}
.padtop{padding-top:60px;}
.padtop70{padding-top:70px;}
.mt40{margin-top:40px;}
.mt30{margin-top:30px;}
.mt20{margin-top:20px;}
.pt40{padding-top:40px;}
.pt20{padding-top:20px;}
.color-white{color:#fff;}
.colorcd3{color:#cd3232;}
.color222{color:#222;}
.dflex{display:flex;align-items:center;}
.clear{clear:both;}
.btn-nrml,
.btn-nrml:hover,
.btn-nrml:focus{border:none;font-size:12px;font-weight:400;text-transform:uppercase;background:#e74f1d;text-decoration:none;padding:12px 22px;border-radius:2px;letter-spacing:1.1px;color:#fff;}
.full-width-col{padding-right:0px;padding-left:0px;}
header{padding:10px 0px;}
.search-form input{padding:10px 10px;border:none;width:50%;outline:none;font-size:12px;border-top-left-radius:15px;border-bottom-left-radius:15px;}
.navbar.menu-bar{padding:0px 0px;}
.search-form button,
.search-form button:focus{padding:10px 10px;border:none;border-bottom-right-radius:15px;border-top-right-radius:15px;box-shadow:none;background:#e74f1d;margin:-1px 0px 0px -4px;outline:none;height:initial;vertical-align:middle;}
.navbar{border-radius:0px !important;margin-bottom:0px;}
.menu-bar ul li a{font-size:13px;font-weight:400;color:#fff;text-transform:none;text-shadow:none;}
.menu-bar ul li a:hover,
.menu-bar ul li a:focus{background:#e74f1d;}
.dropdown-menu{background:#222 !important;}
.dropdown-menu li{padding-top:3px;padding-bottom:3px;border-bottom:1px solid rgba(255, 255, 255, 0.08);}
.dropdown-menu li a:focus{color:#fff !important;}
.white-body{background:#fff;}
.dropdown-menu li:last-child{border-bottom:none;}
.dropdown-menu li a:hover{color:#e74f1d;}
.store-menu{position:static !important;}
.store-dropdown{padding-left:15px;padding-right:15px;}
.open a,
.open a:hover,
.open a:focus{background-color:transparent !important;}
.mega-dropdown-menu{padding:20px 15px 15px;text-align:center;}
.login-section{padding-top:6px;}
.login-section .fa{margin:0px 4px;height:36px;width:36px;background:#e74f1d;border-radius:50px;text-align:center;vertical-align:middle;padding:12px;}
.login-section a{outline:none;margin:0px 26px 0px 0px;}
.login-section a:hover,
.login-section a:focus{outline:none;text-decoration:none;color:#fff;}
.login-section a{color:#fff;font-size:13px;}
#loginModal .well{background:#fff;}
#loginModal .modal-body .fa{color:#249abe;}
#loginModal .register-cta .mui-btn{background:#249abe;}
#loginModal .text-success{color:#cd3232;font-weight:700;}
#loginModal .close{outline:none;}
.inline-block{display:inline;}
#myCarousel img{width:100%;}
.slider-thumb li{border-radius:0px;font-size:18px;color:#fff;text-align:center;padding:20px 0px;background:#2d3e52;border-right:1px solid rgba(117,129,143, 0.23);}
.slider-thumb li.active{background:#e74f1d;border-bottom:4px solid #a4330b;}
.slider-thumb li.active a{background:#e74f1d;}
.slider-thumb li a{color:#fff;}
.slider-thumb li a:focus{background-color:transparent;}
.slider-thumb li a:hover,
.slider-thumb li.active a,
.slider-thumb li.active a:hover,
.slider-thumb li.active a:focus{background-color:transparent;}
.store-inner-box{position:relative;background-color:#fff;width:219px;text-align:center;padding:48px 0px;display:inline-block;}
.on-hover-show{display:none;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out !important;}
.store-info:hover .on-hover-show{position:absolute;top:0;background:#f9593a;display:block;padding:39px 25px;}
.store-hover-heading{font-size:14px;}
.store-hover-cta a,
.store-hover-cta .fa{font-size:12px;letter-spacing:1px;color:#ffc80a;text-decoration:none;text-transform:uppercase;}
.top-coupons{padding-bottom:100px !important;}
.top-coupon-box{padding:25px;}
.coupon-img{text-align:left;float:left;width:50%;}
.coupon-status{text-align:right;font-size:12px;float:left;width:50%;padding-top:11px;}
.coupon-status .status{background:#2d3e52;letter-spacing:0.5px;border-radius:50px;color:#fff;padding:4px 18px;}
.coupon-heading{font-size:13px;font-weight:500;padding-top:15px;text-align:left;}
.coupon-expiry{font-size:12px;color:#c6c6c6;text-align:left;padding-top:19px;}
.coupon-cta{margin-top:34px;position:relative;top:32px;}
.coupon-cta .fa{margin-left:4px;}
.testimonial{position:relative;}
.testimonial .center-quote{position:absolute;top:0;top:26%;text-align:center;width:100%;right:0;}
.testimonial .owl-dots{margin-top:15px;}
.testimonial .owl-dot{width:6px;height:6px;display:inline-block;border-radius:50px;background-color:#9fa3a7;margin:0px 10px;}
.testimonial .owl-dot.active{width:10px;height:10px;border-radius:50px;background-color:#ffc80a;margin-bottom:-2px;}
.testimonial img{display:inline !important;width:auto !important;}
.testimonial .author-name{font-size:18px;font-weight:700;padding:33px 0px 17px;}
.testimonial .author-content{font-size:14px;line-height:26px;font-weight:400;padding:0px 53px 0px;}
.testimonial .owl-controls{padding-top:50px;}
.coupon-earn-cta{padding:115px 0px 115px;font-size:25px;font-weight:300;}
footer ul{list-style:none;padding:0px;}
footer h4{margin-bottom:22px;color:#fff;font-size:22px;font-weight:700;ont-family: roboto;}
footer a,
footer a:hover{color:#fff;}
footer ul li{padding-bottom:5px;}
footer .social .fa{font-size:26px;margin:0px 6px 0px 0px;}
footer .fa-facebook-square:hover{color:#3b5998;}
footer .fa-twitter-square:hover{color:#00aced;}
footer .fa-google-plus-square:hover{color:#dd4b39;}
footer .copyright{font-size:10px;margin:-4px 0px 0px 57px;}
.bredcrumb{font-size:11px;font-weight:700;padding:17px 0px;}
.store-caption{font-size:19px;padding:10px 15px 5px 15px;min-height:0px;}
.store-sidebar-heading h5{font-weight:600;}
.store-header{padding-top:25px;padding-bottom:25px;}
.store-header h2{padding-bottom:11px;}
.store-header .stars{padding-top:8px;}
.store-social-share{padding:15px 0px;}
.store-social-share a{margin:0px 2px;}
.deal-lbl{font-weight:700;font-size:12px;width:76px;background:#cd3232;height:20px;z-index:99999999999;margin-left:-15px;}
.percentage-amount{font-size:17px;font-weight:800;color:#cd3232;margin-top:9px;}
.dash-border{border-bottom:1px solid #d6d6d6;}
.sidebar-listed-item ul li{padding-bottom:12px;}
.rates-percentage{margin:8px 0px 0px;}
.rates-percentage span{background:#249abe;padding:3px 12px;border-radius:50px;color:#fff;font-weight:600;}
.cashback-listed-item{color:#f25d30;font-weight:700;}
.cashback-listed-item .fa{width:46px;text-align:center;color:#fff;border-radius:3px;background:#f25d30;padding:12px;font-size:22px;margin-right:10px;}
.user-details img{margin-bottom:11px;}
.user-name,
.user-cashback-avl-balance{font-weight:700;}
.user-info{padding-top:32px;}
.user-info img{border:4px solid #cd3232;}
.user-name{padding:10px 0px 25px;font-size:22px;border-bottom:2px solid rgba(255, 255, 255, 0.16);margin-bottom:27px}
.user-header-links{padding:17px 0px;}
.user-header-links ul{margin-left:11px;}
.user-header-links ul li{float:left;padding:0px 15px;}
.user-header-links ul li.active a{color:#cd3232;}
.user-header-links ul li a{font-weight:700;color:#222;}
.user-earnings{font-size:16px;padding:23px;margin-top:22px;}
.user-earnings h3{padding-bottom:22px;}
.user-earnings .fa{padding-right:2px;font-size:22px;}
.user-earnings .fa-check-circle{color:#86c830;}
.user-earnings .fa-hourglass-end{color:#9264fb;}
.user-earnings .fa-exclamation{color:#ff2626;}
.user-earnings .fa-inr{color:#10d5b2;}
.earn-amount{border:1px solid rgba(205, 50, 50, 0.56);margin-top:7px;border-radius:50px;}
.earn-amount .fa{font-size:15px;color:#222;}
.user-features-lisited img{padding-right:10px;}
.user-features-lisited ul li{margin-bottom:22px;}
.user-features-lisited ul li a{color:#fff;}
.user-features-lisited ul li a:hover{text-decoration:none;}
.user-cashback-avl-balance{color:#9b9b9b;}
.cashback-avl-balance{color:#cd3232;font-weight:700;font-size:36px;}
.user-cashback-balance{font-size:22px;font-weight:800;color:#cd3232;}
.user-box{padding:20px 0px;border-radius:2px;border:1px solid #d9e0e2;}
.user-activities-links ul{margin-left:28%;margin-bottom:0px;}
.user-activities-links ul li{padding-bottom:5px;}
.user-activities-links ul li a{color:#222;}
.user-activities-links ul li a:hover{color:#cd3232;}
.user-activities-links img{padding-right:8px;}
.single-store-section .store-caption{font-size:24px;text-transform:uppercase;font-weight:800;text-align:center;}
.additional-cashback-inner{color:#f25d30;font-weight:800;}
.show-coupon-code{font-size:22px;font-weight:700;color:#cd3232;background:#666;padding:10px 22px;background:transparent;border:2px solid #cd3232;border-style:dotted;}
.add-discount-mark{color:#cd3232;font-weight:700;}
.earn-cashback-area{padding-top:39px;padding-bottom:39px;}
.earn-cashback-area h3{color:#222;font-weight:700;padding-bottom:32px;}
.earn-cashback-area .fa{margin-bottom:8px;}
.single-store-section .cta-btn{padding:20px 0px;}
.validity-single-inner{font-weight:700;font-size:11px;}
.validity-single-inner img{margin-right:5px;}
.nav-tabs{border-bottom:2px solid #DDD;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border-width:0;}
.nav-tabs > li > a{border:none;color:#666;}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover{border:none;color:#cd3232 !important;background:transparent;}
.nav-tabs > li > a::after{content:"";background:#cd3232;height:2px;position:absolute;width:100%;left:0px;bottom:-1px;transition:all 250ms ease 0s;transform:scale(0);}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after{transform:scale(1);}
.tab-nav > li > a::after{background:#21527d none repeat scroll 0% 0%;color:#fff;}
.tab-pane{padding:15px 0;}
.tab-content{padding:20px}
.tab-header li{width:33.3%;text-align:center;font-size:11px;font-weight:700;padding-bottom:0px !important;}
.tab-header>li>a{margin-right:0px;}
.cashback-users .tab-content ul li{margin-bottom:12px;font-size:15px;font-weight:700;border-bottom:1px solid rgba(102, 102, 102, 0.11);}
.cashback-user-amount{color:red;}
.login-mobile .account-top-dropdown{right:0;left:auto;margin-top:11px;}
.coupon-inner-content-section{background:#fff;border:1px solid #ddd;box-shadow:0 0 7px;border-radius:10px;}
.social-share{padding-bottom:14px;}
.coupon-side-title h1{font-size:17px;text-transform:none;font-weight:600;}
.percentage-title{font-weight:400;color:#fa8907;padding-top:12px;}
.cashback-cta-section a{font-size:12px;text-transform:uppercase;letter-spacing:1px;width:100%;color:#fff;padding:10px;text-align:center;margin-left:0%;margin-top:15px;background:#e74f1d;}
.great-deals .coupon-inner{text-align:center;padding:30px 0;padding-bottom:0px;background:#fff;position:relative;float:left;width:100%;display:inline-block;overflow:hidden;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.great-deals .coupon-inner .coupon-heading,
.great-deals .coupon-inner .coupon-expiry{text-align:center;}
.how-it-works-section h2{font-size:25px;font-weight:bold;padding-bottom:26px;font-family: Verdana,Arial,Helvetica,sans-serif;}
.howitworks{padding-left:25px!important;}
.coupon-inner-content-section .coupon-code{width:100%;padding:10px;text-align:center;margin-left:0%;margin-top:15px;border:1px dashed #ccc !important;}
.coupon-inner-content-section{padding:31px 0px 18px;margin-bottom:25px;}
.modalform input[type="checkbox"]{width:auto;display:inline;vertical-align:middle;}
.ui-tabs label{width:100%;}
.ui-tabs input{margin-top:8px;}
@media only screen and (max-width:1024px){.login-section a{margin:0px 9px 0px 0px;}
}
@media only screen and (max-width:768px){.menu-bar ul li a{padding:9px 8px;font-size:12px;}
body ul.storepage li:nth-child(4){clear:none !important;}
.ui-tabs select{padding:6px 11px;margin-bottom:15px;}
.coupon{width:62%;}
.sidebar{width:38%;}
.great-deals .coupon li:nth-child(3){clear:both;}
body .couponimg{width:auto;}
.modalform input[type="checkbox"]{width:auto;display:inline;vertical-align:middle;}
.login-section .fa{margin:0px 4px;height:29px;width:29px;padding:10px;}
.login-section a{color:#fff;font-size:10px;margin:0px 2px 0px 0px;}
.store-inner-box{width:169px;}
.btn-nrml, .btn-nrml:hover, .btn-nrml:focus{font-size:10px;padding:12px 16px;}
.testimonial h2{font-size:20px;}
#userfrm{padding-top:25px;}
h1{font-size:27px;line-height:34px;}
h3{font-size:16px;line-height:23px;}
.mui-btn{font-size:13px !important;}
.logo-section,
.search-form,
.new-user-alert,
.advertisement-banner h1,
.cta-btn,
.footer-logo-section,
footer .social-section{text-align:center;}
.cta-btn{margin-top:10px;}
.new-user-alert h3{padding-top:0px;}
.smmt30{margin-top:30px;}
.today-offers{padding-bottom:40px;}
.advertisement-banner h1{margin-top:25px;}
.coupon-caption{font-size:13px;}
footer .copyright{margin:7px 0px 0px 0px;}
.footer-logo-section{text-align:left;}
.sm-top14{margin-top:14px;}
.user-earnings .cta-btn{text-align:left;}
.user-header-links ul li{padding:0px 15px 11px;}
}
@media only screen and (max-width:750px){h1{font-size:27px;line-height:34px;}
body .navbar-collapse.in{overflow-y:visible;padding-left:13px;}
h3{font-size:16px;line-height:23px;}
.mui-btn{font-size:13px !important;}
.logo-section,
.search-form,
.new-user-alert,
.advertisement-banner h1,
.cta-btn,
.footer-logo-section,
footer .social-section{text-align:center;}
.login-area-for-mobile .login-section{text-align:left;}
.logo-section{margin-bottom:22px;}
.search-form input{padding:10px 10px;font-size:11px;width:70%;float:left;}
.search-form button{margin:0px 0px 0px 0px;width:30%;}
.store-inner-box{margin-bottom:14px;}
.top-stores .pt40{padding-top:0px;}
.top-stores h2,
.top-coupons h2{padding-bottom:40px;}
.top-coupon-box{margin-bottom:19px;min-height:300px;}
.top-coupons .head{min-height:35px;}
.coupon-status{text-align:center;float:none;width:100%;padding:26px 0px;}
.coupon-heading{text-align:center;}
.top-coupons a{display:inline-block;}
.navbar-toggle{background:#e74f1d;margin-right:0px;}
.top-coupons .padtop70{padding-top:0px;}
.navbar-toggle .icon-bar{background:#fff;}
.login-section{padding-bottom:12px;text-align:center;}
.cta-btn{margin-top:10px;}
.new-user-alert h3{padding-top:0px;}
.category-area h4{margin-bottom:42px;}
.coupon-box{margin-bottom:20px;}
.mobmt0{margin-top:0px;}
.today-offers{padding-left:15px;padding-right:26px;}
.today-offers h2{line-height:32px;}
.coupon-caption{font-size:14px;line-height:19px;}
.today-offers{padding-bottom:40px;}
.advertisement-banner{padding-bottom:60px;}
.advertisement-banner h1{margin-top:25px;}
footer .copyright{margin:12px 0px 50px 0px;}
footer .social-section{margin-top:22px;}
.store-dropdown{width:100%;position:relative;float:none;}
.store-menu img{width:auto;}
.cat-dropdown{width:100%;position:relative;float:none;}
.flex-direction-nav{display:none;}
.cat-dropdown li a{line-height:20px;clear:both;padding:5px 15px 5px 25px;}
.user-activities-links ul{margin-left:19%;}
.coupon-expiry{text-align:center;}
.percentage-amount{font-size:14px;}
.user-features-lisited{padding-bottom:22px;}
.user-header-links{margin-top:22px;}
.user-header-links ul li{float:none;text-align:left;padding-bottom:11px;}
.earn-amount{margin-bottom:22px;}
.user-earnings .cta-btn{text-align:center;}
.sm-top14{margin-top:0px;}
.coupon-img img{display:inline-block;}
.coupon-img{display:inline-block;}
.carousel li{margin-right:0px;margin-left:0px !important;}
.slider-thumb li{padding:14px 0px;}
.head{min-height:auto;}
.couponimg{padding-bottom:12px;height:auto !Important;}
.storeheader .btn-nrml{font-size:9px;}
.storeheader > div{padding-bottom:15px;}
}
.fb-sign,
.google-sign{background-color:#fff;color:#3b5998;border:1px solid #3b5998;width:185px;line-height:38px;height:40px;border-radius:2px;padding-left:10px;font-weight:500;margin-top:12px;cursor:pointer;transition:.3s;-webkit-transition:.3s;}
.fb-sign i,
.google-sign i{background-color:#3b5998;font-size:14px;margin-right:10px;padding-top:6px;vertical-align:middle;width:24px;height:27px;border-radius:4px;text-align:center;color:#fff !important;box-sizing:border-box;}
.google-sign{color:#eb4031;border:1px solid #eb4031 !important;}
.google-sign i{background-color:#eb4031;}
.modalform input{width:100%;border:2px solid transparent;-webkit-transition:all 0.3s;transition:all 0.3s;height:38px;background-color:#fff;outline:none;border:1px solid rgba(73,73,73,0.2);border-radius:2px;padding-left:10px;margin-bottom:10px;}
.modalform button{text-transform:uppercase;border:none;background-color:#cd3232;display:inline-block;width:100%;height:40px;line-height:40px;border-radius:2px;color:#fff;font-weight:500;text-align:center;cursor:pointer;margin-top:10px;transition:.3s;-webkit-transition:.3s;}
.forgot-password{font-size:11px;cursor:pointer;color:#625c5a;}
.modal-title{font-size:25px;text-transform:capitalize;}
.modal-body{padding:32px 40px;}
.mod-grp-coupon .list-coupon{padding-top:25px;}
.coupon-item{position:relative;padding-bottom:30px;}
.grid_3{width:28%;display:inline;float:left;margin-left:1.388888888888889%;margin-right:1.388888888888889%;}
.coupon-item .img-thumb-center{display:table;width:100%;table-layout:fixed;}
.coupon-item .wrap-img-thumb{width:100%;height:190px;display:table-cell;text-align:center;vertical-align:middle;}
.top-brand-img{padding-bottom:17px;}
.coupon-desc{font-family:"Open Sans", sans-serif;line-height:1.4em;color:#999999;height:65px;overflow:hidden;border-bottom:2px dotted #d8d8d8;}
.coupon-item .time-left{text-align:center;color:#888888;font-size:0.9230769230769231em;padding:9px 0;}
.btn{display:inline-block;border:none;text-align:center;color:#ffffff;font-size:0.9230769230769231em;padding:6px 10px;text-transform:uppercase;line-height:normal;border-radius:5px}
.coupon-item .stick-lbl{position:absolute;top:0;left:0;}
.hot-sale{background-position:0 0;}
.stick-lbl{border:none;width:83px;height:83px;display:inline-block;}
.fl.fw.light_eff{background:url(http://asset6.ckassets.com/themes/ck-storepage-v2/img/light_bg.png) repeat-x center top;height:68px;}
.coupon-desc a:hover{color:red;}
.coupon-desc a{color:red;}
.coupon-img{transition:all .2s ease-in-out;}
.coupon-img:hover{transform:scale(1.1);}
img.img-responsive:hover{transform:scale(1.1);}
.search-form{padding-top:15px;}
.coupon-content{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:5px;}
.top-coupon-box.bgfff:hover{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);transform:scale(1.1);transition:0.4s;}
.modal-header{border-bottom:1px solid #ebecf0;background:#f9fafc;text-align:center;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;}
.modal-header{min-height:16.43px;padding:15px;}
.modal-body{padding:0 20px;}
.modal-body{position:relative;padding:15px;}
.article-tiny{border-bottom:1px solid #f4f4f4;margin:0 10px 10px 0!important;overflow:hidden;padding:0 0 10px 0;}
.modal-body .image-second{float:left;height:134px;width:200px;margin:0 10px 10px 0;}
.article-tiny .image{margin:0 10px 0px 0;position:relative;text-decoration:none!important;}
article-tiny h5{margin-top:0;}
.modal-body .article-tiny h5 a{margin:8px 0;color:#333;text-transform:none!important;font-weight:bold;font-size:18px!important;}
.modal-body .selected{color:#888;display:block;margin:20px auto;width:80%;}
.centered{text-align:center;}
.modal-body .bottom{overflow:hidden;font-family:"Roboto", sans-serif;border:1px solid #ebecf0;background:#f9fafc;margin:10px 0 20px 0;}
.modal-body .bottom span.getcode{padding:0;float:left;border:0;width:70%;}
.modal-body .bottom span{float:left;font-size:14px;color:#ababab;display:inline-block;border-right:0px solid #ebecf0;padding:7px 15px;}
a.button-getcode{transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;display:block;color:#fff;background:#27a9e3;padding:5px 10px;text-align:center;font-size:18px;text-transform:uppercase;}
modal-body .bottom span{float:left;font-size:14px;color:#ababab;display:inline-block;border-right:0px solid #ebecf0;padding:7px 15px;height:30px;}
.expires .butn{background:#e74f1d;text-transform:uppercase;color:#fff;display:inline-block;border-radius:5px;width:180px
-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;}
.modal-footer{color:#fff;text-align:left;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.bg-darkgrey{background:#373737;}
.row{clear:both;}
@media (min-width:768px)
.col-sm-12{width:100%;float:left;}
.bg-darkgrey{background:#373737;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5;}
.modal-footer h3{padding-top:5px;font-family:Roboto condensed;font-size:22px;margin:0 0 15px 0;float:left;}
.btn-group{display:inline-block;clear:both;margin-left:20px;}
.btn-group, .btn-group-vertical{position:relative;display:inline-block;vertical-align:middle;}
.dropdown-menu li:hover{}
.col-md-3.col-sm-3.col-xs-12.text-center{transform:scale(1.1);}
.col-md-3.col-sm-3.col-xs-12.text-center:hover{background-color:#e74f1d;box-shadow:0 3px 9px rgba(0,0,0,.5);transform:scale(1.1);}
#scroll{position:fixed;right:10px;bottom:50px;cursor:pointer;width:50px;height:50px;background-color:#3498db;text-indent:-9999px;display:none;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:60px}
#scroll span{position:absolute;top:50%;left:50%;margin-left:-8px;margin-top:-12px;height:0;width:0;border:8px solid transparent;border-bottom-color:#ffffff}
#scroll:hover{background-color:#e74c3c;opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
.sp-header{background: url(../images/coupons-and-deals.jpg); min-height:144px;margin-bottom:20px;}
.img-head {background: rgba(0,0,0,0.5);min-height:144px}
@font-face{font-weight:normal;font-style:normal;font-family:'stroke7pixeden';src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');}
.tabs{position:relative;overflow:hidden;margin:0 auto;width:100%;font-weight:300;font-size:1.25em;}
.tabs nav{text-align:center;}
.tabs nav ul{position:relative;display:-ms-flexbox;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:flex;margin:0 auto;padding:0;max-width:1200px;list-style:none;-ms-box-orient:horizontal;-ms-box-pack:center;-webkit-flex-flow:row wrap;-moz-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;justify-content:center;}
.tabs nav ul li{position:relative;z-index:1;display:block;margin:0;text-align:center;-webkit-flex:1;-moz-flex:1;-ms-flex:1;flex:1;}
.tabs nav a{position:relative;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;line-height:2.5;}
.tabs nav a span{vertical-align:middle;font-size:0.75em;}
.tabs nav li.tab-current a{color:#74777b;}
.tabs nav a:focus{outline:none;}
.icon::before{z-index:10;display:inline-block;margin:0 0.4em 0 0;vertical-align:middle;text-transform:none;font-weight:normal;font-variant:normal;font-size:1.3em;font-family:'stroke7pixeden';line-height:1;speak:none;-webkit-backface-visibility:hidden;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-upload::before{content:"\e68a";}
.icon-tools::before{content:"\e60a";}
.icon-plane::before{content:"\e625";}
.icon-joy::before{content:"\e6a4";}
.icon-plug::before{content:"\e69a";}
.icon-home::before{content:"\e648";}
.icon-gift::before{content:"\e652";}
.icon-display::before{content:"\e65e";}
.icon-date::before{content:"\e660";}
.icon-config::before{content:"\e666";}
.icon-coffee::before{content:"\e669";}
.icon-camera::before{content:"\e66f";}
.icon-box::before{content:"\e674";}
.content-wrap{position:relative;}
.content-wrap section{display:none;margin:0 auto;padding:1em;max-width:1200px;text-align:center;}
.content-wrap section.content-current{display:block;}
.content-wrap section p{margin:0;padding:0.75em 0;color:rgba(40,44,42,0.05);font-weight:900;font-size:4em;line-height:1;}
.no-js .content-wrap section{display:block;padding-bottom:2em;border-bottom:1px solid rgba(255,255,255,0.6);}
.no-flexbox nav ul{display:block;}
.no-flexbox nav ul li{min-width:15%;display:inline-block;}
@media screen and (max-width:58em){.tabs nav a.icon span{display:none;}
.tabs nav a:before{margin-right:0;}
}
.support{display:none;color:#ef5189;text-align:left;font-size:1.5em;max-width:1200px;margin:1em auto 0;padding:0;}
.no-flexbox .support{display:block;}
.hidden{position:absolute;width:0;height:0;overflow:hidden;opacity:0;}
.container > section{padding:5em 0;font-size:1.25em;min-height:100%;}
p{text-align:center;padding:1em;}
.codrops-header{padding:7em 0 3em;letter-spacing:-1px;}
.codrops-header h1{max-width:1200px;margin:0 auto;font-weight:800;font-size:5em;line-height:1;}
.codrops-header h1 span{display:block;font-size:50%;font-weight:400;padding-top:0.325em;color:#bdc2c9;}
.codrops-top{width:100%;text-transform:uppercase;font-weight:700;font-size:0.69em;line-height:2.2;}
.codrops-top a{display:inline-block;padding:1em 2em;text-decoration:none;letter-spacing:1px;}
.codrops-top span.right{float:right;}
.codrops-top span.right a{display:block;float:left;}
.codrops-icon:before{margin:0 4px;text-transform:none;font-weight:normal;font-style:normal;font-variant:normal;font-family:'codropsicons';line-height:1;speak:none;-webkit-font-smoothing:antialiased;}
.codrops-icon-drop:before{content:"\e001";}
.codrops-icon-prev:before{content:"\e004";}
.related{text-align:center;}
.related > a{width:calc(100% - 20px);max-width:340px;border:1px solid black;border-color:initial;display:inline-block;text-align:center;margin:20px 10px;padding:25px;}
.related a img{max-width:100%;opacity:0.8;}
.related a:hover img,
.related a:active img{opacity:1;}
.related a h3{margin:0;padding:0.5em 0 0.3em;max-width:300px;text-align:left;}
@media screen and (max-width:1280px){.codrops-header h1{padding:0 0.5em;}
.support{padding:0 1.5em;}
}
@media screen and (max-width:30em){.container > section{padding:3em 0;}
.codrops-header{padding:2em 0 1em;}
.codrops-header h1{font-size:3.5em;}
}
@media screen and (max-width:25em){.codrops-icon{font-size:1.5em;}
.codrops-icon span{display:none;}
}
.tabs-style-underline nav{background:#fff;}
.tabs-style-underline nav a{padding:0.25em 0 0.5em;border-left:1px solid #e7ecea;-webkit-transition:color 0.2s;transition:color 0.2s;}
.tabs-style-underline nav li:last-child a{border-right:1px solid #e7ecea;}
.tabs-style-underline nav li a::after{position:absolute;bottom:0;left:0;width:100%;height:6px;background:#2CC185;content:'';-webkit-transition:-webkit-transform 0.3s;transition:transform 0.3s;-webkit-transform:translate3d(0,150%,0);transform:translate3d(0,150%,0);}
.tabs-style-underline nav li.tab-current a::after{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.tabs-style-underline nav a span{font-weight:700;}
.category-store .left-bar{float:left;width:28%;text-align:left;}
.category-store .left-bar .left-menu-store{border:1px solid #ddd;background:#fff;margin-bottom:30px;}
.category-store .left-bar .left-menu-store .left-title{border-bottom:1px solid #ddd;font-size:18px;color:#e74f1d;margin-bottom:15px;padding:10px 0px 10px 20px;}
.category-store .left-bar .left-menu-store .dropdown{overflow:hidden;margin-bottom:10px;}
.dropdown{display:inline-block;}
.category-store .left-bar .left-menu-store .dropdown li{width:100%;float:left;padding:0px 0px 0px 36px;margin:0px 0px 13px 0px;font-family:-webkit-pictograph;border-bottom:1px dotted;}
.category-store .left-bar .left-menu-store .dropdown li:hover{background:#e74f1d;}
section.stores.category-store.grey-bg{background:whitesmoke;}
.category-store .right-bar{float:right;width:70%;text-align:left;}
.tabs-style-iconbox nav{background:rgba(255,255,255,0.4);}
.tabs-style-iconbox nav ul li a{overflow:visible;padding:2em 0;line-height:1;-webkit-transition:color 0.2s;transition:color 0.2s;}
.tabs-style-iconbox nav ul li a span{font-weight:700;font-size:0.7em;}
.tabs-style-iconbox nav ul li.tab-current{z-index:100;}
.tabs-style-iconbox nav ul li.tab-current a{background:#fff;box-shadow:-1px 0 0 #fff;}
.tabs-style-iconbox nav ul li.tab-current a::after{position:absolute;top:100%;left:50%;margin-left:-10px;width:0;height:0;border:solid transparent;border-width:10px;border-top-color:#fff;content:'';pointer-events:none;}
.tabs-style-iconbox nav ul li:first-child::before,
.tabs-style-iconbox nav ul li::after{position:absolute;top:20%;right:0;z-index:-1;width:1px;height:60%;background:rgba(0,0,0,0.07);content:'';}
.tabs-style-iconbox nav ul li:first-child::before{right:auto;left:0;}
.tabs-style-iconbox .icon::before{display:block;margin:0 0 0.25em 0;}
.footer-bot-bg{background:#333 none repeat scroll 0 0;padding:20px 0 0;float:left;width:100%}
.footer-bot-bg li a{color:#888;font-size:13px!important}
.footer-bot-bg li a:hover{color:#fff;font-size:13px!important}
.clr-theme{color:#fff!important}
.copyright{background-color:rgba(0,0,0,0);border-top:1px solid rgba(255,255,255,0.1);color:#fff;margin:20px 0 0;padding:13px 0;font-size:11px}
ul.top-space.list-inline.clearfix {padding: 10px;}
.col-md-12.col-sm-12 p {color: #fff;text-align: -webkit-auto;}
span.rh-menu-label.rh-menu-label-blue {
    position: absolute;
    right: 15px;
    padding: 2px 4px;
    color: #fff;
    font: 9px/10px Arial;
    text-transform: uppercase;
    z-index: 99;
    background: orangered;
    border-radius: 25%;
}
.sub-nav li a {
    color: #fff;
}