@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot"/*tpa=http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot*/);
}
