ul.menu {list-style:none; margin:0 0 0 10px; padding:0; }
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none; font-size:13px}
ul.menu li {position:relative; float:left; margin-right:2px}
ul.menu ul {position:absolute; top:28px; left:0; background:#d1d1d1; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative; /*border:1px solid #999;*/ border-top:none; width:164px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#1f3b08; font-size:11px; font-weight:normal; color:#fff }
ul.menu ul li a:hover {background-color:#4e0707; color:#fff;}
ul.menu ul ul {left:164px; top:-1px}
ul.menu .menulink { padding:5px 7px 7px; font-weight:bold; background:url(../images/header.gif); min-width:150px; text-align:center}
ul.menu .menulink:hover, ul.menu .menuhover {background:url(../images/header_over.gif); color:#fff}
ul.menu .sub {background:#37566f url(../images/arrow.gif) 150px 8px no-repeat}
ul.menu .topline {border-top:1px solid #aaa}